{{define "subject"}}Reset Your Password{{end}}

{{define "PlainBody"}}
Hi,

We received a request to reset your password. If you made this request, please use the token below to reset your password:

Token: {{.resetToken}}

This token will expire in 1 hour. If you didnt request this, you can safely ignore this email.

Thanks,

The Comments Community Team
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p>Hi,</p>
    <p>We received a request from your user ID: {{.userID}} to reset your password. If you made this request, please use the token below to reset your password:</p>
    <p><strong>Token:</strong> {{.resetToken}}</p>
    <p>This token will expire in 1 hour. If you didnt request this, you can safely ignore this email.</p>
    <p>Thanks,</p>
    <p>The Comments Community Team</p>
</body>
</html>
{{end}}
